<%-include("header")-%>



<!-- TITLE -->

<div class="tl ">
  <div class="tll">
    <h1>T O D O</h1>
  </div>
  <div class="tlr">
<%=kindOfDay%>

  </div>

</div>


<!-- todolist block -->
<div class="box1">

  <div class="item enter">
    <form class="" action="/" method="post">
      <input type="text" name="newItem" class="ip1" placeholder=" Create a new todo..." onfocus="this.placeholder=''" onblur="this.placeholder=' Create a new todo...'" autocomplete="off"></input>
      <!-- <button type="submit" name="list">+</button> -->
    </form>
  </div>
</div>

<div class="box">


  <%itemsArray.forEach(function(item_i){%>

<form  action="/delete" method="post">
  <div class="item control-group">
    <label class="control control-checkbox">
      <input type="checkbox" id="myCheck" name="checkedBox" value="<%=item_i._id%>" onChange="this.form.submit()">
      <p> <%= item_i.name %> </p>
      <%=console.log( (item_i) );%>
      <%if(deleteItemsArray.includes(item_i._id)){%>
        <%=document.getElementById("myCheck").checked=true%>
        <%}%>
      <div class="control_indicator"></div>
    </label>
  </div>
</form>


  <%})%>

</div>





<div class="footer-class">
  <p>Made with Ease</p>

</div>



<%-include("footer")-%>
